<template>
  <h1>The ProgressiveJavaScript Framework</h1>
  <hr />
  <p>{{ msg }}</p>
  {{ buttonHTML }}
  <span v-html="buttonHTML"></span>
  <p v-bind:style="color" >TEST</p>
  <a :href="web">Google</a>
  {{ num1 }}
  <h2 :style="`color: ${'brown'}`">${{ savings }}</h2>
  <h2 :style="`color: ${price >= 200? 'blue':'red'}`">${{ price }}</h2>
  <h2 v-bind:class ="total >= 200? 'bottom' : 'background'">${{ total }}</h2>
</template>

<style>
.bottom{
  color: chocolate;
}
.background{
  color: aqua;
}
</style>

<script>
const msg = "Hello"
const buttonHTML = "<button>Click Me</button>"
const color = "color: white;background-color: black"
const web = "http://www.google.com"
const num1 = 2*5
const savings = 350
const price = 200
const total = 500
  export default{
    name : 'App',

    data() {
      return {
        total,
        price,
        savings,
        num1,
        msg,
        buttonHTML,
        color,
        web,
      };
    },
  };
</script>

<style>

  h1{
    color: darkmagenta;
  }
</style>